/*
    Button Close
*/

.buttonClose {
    background-color: #8638e5;
    border: none;
    padding: 6px;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    color: white;
    cursor: pointer;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    font-weight: bold;
    position: absolute;
    left: 355px;
    top: 8px;
}

.buttonOption {
    margin: 10px;
    width: 100px;
    border: none;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border-radius: 5px;
    cursor: pointer;
}